@model IEnumerable<CuaHangTheThao.Models.SanPham>

@{
    ViewData["Title"] = "Quản Lý Sản Phẩm";
}

<h1>Danh Sách Sản Phẩm</h1>

<form method="get" asp-action="Index">
    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Tìm kiếm sản phẩm" />
    <button type="submit">Tìm kiếm</button>
</form>

<p>
    <a asp-action="Create">Thêm sản phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().TenSanPham)</th>
            <th>@Html.DisplayNameFor(model => model.First().MoTa)</th>
            <th>@Html.DisplayNameFor(model => model.First().DanhMuc.TenDanhMuc)</th>
            <th>@Html.DisplayNameFor(model => model.First().Gia)</th>
            <th>@Html.DisplayNameFor(model => model.First().SoLuong)</th>
            <th>@Html.DisplayNameFor(model => model.First().HinhAnh)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenSanPham)</td> 
                <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                <td>@Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)</td>
                <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                <td>
                <td>
                        @if (!string.IsNullOrEmpty(item.HinhAnh))
                        {
                        <img src="~/images/@item.HinhAnh" alt="Hình ảnh sản phẩm" width="100" />
                        }
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Xem</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
